@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #F7FAFC;
}
.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
}
.chat-input button {
  margin-left: 2px;
}
.main-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  /* width: 80%; */
  border: 1px solid rgb(124, 124, 124);
  box-shadow: 10px 10px 5px rgb(157, 157, 157);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  overflow-y: hidden;
}

.chats {
  padding: 3px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.avtar {
  height: 40px;
  margin: 5px 10px 0px 0px;
  border-radius: 50%;
  /* border: 1px solid rgb(211, 203, 203); */
  padding: 2px;
  /* background-color: rgb(228, 221, 181); */
}

.chat {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
}
.chat p {
  flex-grow: 1;
}

.send .avtar {
  order: 1;
}
.recieve .avtar {
  order: 0;
}

.send {
  align-self: flex-end;
  background-color: rgb(245, 242, 214);
}
.recieve {
  background-color: rgb(220, 240, 243);
}

.message-text{
  margin: 1px;
}

.example-prompt{
  background-color: #10163A;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.example-title{
  text-align:center;
  font-weight:bold;
}

/* .btn{
  background-color: #FF0000;
  color:white;
} */


/*  */
div.c{
  position: relative;
  margin:1rem;
  width: 400px;
}
input[type="checkbox"]{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
h1{
  background:#10163A;
  color:white;
  padding:0.5rem;
  position: relative;
  font-size: 16px;
}
label::before{
  content:"";
  display: inline-block;
  border: 5px solid transparent;
  border-left:10px solid white;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  display: none;
  font-size: 14px;
  margin-top:8px;
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:0.5rem;
}
input:checked ~ h1 label::before{
  border-left:5px solid transparent;
  border-top:10px solid white;
  margin-top:12px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  display:block;
  max-height:100px;
}
a{
  color:steelblue;
}

.question{
  cursor: pointer;
  border-bottom: 1px solid black;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
  color: black;      /* Internet Explorer 5.5+ */
}